---
cli:
    features:
        dev_tools: false
        exec: false
        remote: false       
proxy:
    data: {}
    intercept:
        active: false
        mode: record
        project_key: eyJpIjowLCJvIjowfQ==
    firewall: {}
    rewrite: {}
remote: 
    api_key: ''
    api_url: ''
ui:
    active: false
    url: ''
