---
agent_url: http://localhost:4200
api_url: 
api_key: 
mode:
  active: record
  record:
    enabled: false
    project_key: ''
    settings: {}
  mock:
    enabled: false
    project_key: ''
    settings: {}
  test:
    enabled: false
    project_key: ''
    settings: {}
proxy_config_path: config/settings.yml
