services:
  stoobly_ui.command:
    command: ['/usr/local/bin/workflows/exec/${EXEC_COMMAND}', '${EXEC_ARGS}']
    environment:
      EXEC_OPTIONS: ${EXEC_OPTIONS}
    extends:
      file: ../.docker-compose.base.yml
      service: stoobly_ui.base
    image: stoobly.${USER_ID}
    network_mode: none
    profiles:
      - exec