services:
  entrypoint.configure_base:
    command:
    - ${SERVICE_SCRIPTS}/${SERVICE_NAME}/${WORKFLOW_TEMPLATE}/.configure
    - configure
    extends:
      file: ../.docker-compose.base.yml
      service: context_base
    working_dir: /home/stoobly/.stoobly/services/${SERVICE_NAME}/${WORKFLOW_NAME}
  entrypoint.init_base:
    command:
    - ${SERVICE_SCRIPTS}/${SERVICE_NAME}/${WORKFLOW_TEMPLATE}/.init
    - init
    extends:
      file: ../.docker-compose.base.yml
      service: context_base
    volumes:
    - ${APP_DIR}:/app
    working_dir: /home/stoobly/.stoobly/services/${SERVICE_NAME}/${WORKFLOW_NAME}
