networks: {}
services:
  entrypoint.configure_base:
    command:
    - bin/.configure
    environment: {}
    extends:
      file: ../.docker-compose.base.yml
      service: context_base
  entrypoint.init_base:
    command:
    - bin/.init
    - dist
    environment: {}
    extends:
      file: ../.docker-compose.base.yml
      service: context_base
